<p id="notice"><%= notice %></p>

<h1>Weeds</h1>

<table>
  <thead>
    <tr>
      <th>Strain</th>
      <th>Thc percentage</th>
      <th>Lineage</th>
      <th>Activites</th>
      <th>Feelings</th>
      <th>Cbd percentage</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @weeds.each do |weed| %>
      <tr>
        <td><%= weed.strain %></td>
        <td><%= weed.thc_percentage %></td>
        <td><%= weed.lineage %></td>
        <td><%= weed.activites %></td>
        <td><%= weed.feelings %></td>
        <td><%= weed.cbd_percentage %></td>
        <td><%= link_to 'Show', weed %></td>
        <td><%= link_to 'Edit', edit_weed_path(weed) %></td>
        <td><%= link_to 'Destroy', weed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Weed', new_weed_path %>
